/* Add your custom styles here */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E3E6F3;
    padding: 20px;
}

.logo img {
    width: 100px;
   
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a.active {
    background-color: #222930;
    color: #ffffff;
}

.navbar a:hover {
    background-color: #E8F0FE;
}

#main-content {
    padding-top: 100px; /* Adjust according to your header height */
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.container h1 {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}

.image-container {
    margin-top: 40px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    
}
